.header{
  width: 100%;
  height: 130px;
  background:  rgb(29, 28, 33);
  display: flex;

}
.logo{
  color: #f4eeee;
  margin-top: -60px;
  padding-left: 20px;
 

}
.links{
  margin-top: -90px;
  
}
.links :hover{
  color: #c7c2c2;
 
  
}
.headericons :hover{
  color: #9a9797;

}

.links a{
  text-decoration: none;
  padding-left: 10px;
  float: right;
  font-size: 15px;
  z-index:  1000;
  
}
.login_link{
list-style: none;
padding-right: 30px;
color: #ffff;


}
.help_link{
  color: #ffff;
}

.signup_link{
  color: #ffff;
  list-style: none;
}
.inputfield{
  float: right;
  width: 200px;
  height: 30px;
  border-radius: 20px;
  
}
.search_li{
padding-top: 10px;
}
.headericons{
  color: #ffff;
  list-style: none;
  padding-right: 38px;
  margin-top: 48px;
 

  
}
li{
  display: inline;
  float: right;
 margin-left: 10px;
  padding-top: 11px;
font-size: 20px;
  
  
}
.carticon{
  padding-right: -30px;
  padding-top: 0px;
}
.bars{
  width: 30px;
  height: 30px;
  color: #f4eeee;
  display: none;
  
  top: 37px;
 

  
}
.lists {
  position: absolute;
  top: 20px; 
  right: 0;
  background-color: #fff;
  z-index: 1000;
  display: block;
  border: 1px solid #050000;
  border-radius: 4px;
}
.lists{
  width: 300px;
  height: 1300px;
  background-color: #110e0e;
  
}

.dropdownlist{
  width: fit-content;
  height: auto;
  
  
  position: right;
}
.lists li {
  display: block;           
  width: 100%;              
  padding: 10px 15px;       
  box-sizing: border-box;   
  margin-bottom: 5px;       
  color: #f1eded;          
  background: #110e0e;     
}

.lists a {
  display: block;           
  color: #e9e2e2;           
  text-decoration: none;    
  width: 100%;              
}


@media screen and (max-width:800px){
  .links{
    display: none;
  }
  .headericons{
    margin-top: -40px;
  }
  .bars {
    display: block;
    padding-top: -90px;
    position: absolute;
    top: 10;
    right: 0;
  }
 
 
  
}


