.header{
    width: 100%;
    height: 90px;
    background-color: rgb(29, 28, 33);
    margin-top: 0px;
    position: fixed;
    top: 0; 
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    z-index: 1000;

    

}
.logo{
    font-size: 20px;
    padding-left: 15px;
    color: #fff;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav_menu{
display: flex;
float: right;
font-size: 25px;
margin-right: 0px; 
padding-top: 10px;

}
.signup_link, .login_link {
    text-decoration: none;
 
    color: #fff;
    margin-left: 15px;
    margin-right: 20px;
    

}

ul{
    list-style: none;
}
.signup_link:hover{

 color: bisque;
    
    
}
.login_link:hover{
    color: bisque;
    text-decoration: underline;
}



.h3{
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
    margin-left: 10px;
    padding-top: 15px;

   
}
.about{
    margin-left: 10px;
    list-style: none;
    color: #fff;
    text-decoration: none;

    
}


.contact{
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    margin-left: 10px;
}

.icon{
    color: #fff;
    font-size: 22px;
   
}


  .Searchbar  input{
    width: 300px;
    border-radius: 36px;
    font-size: 5px;
    padding-left: 40px;
}

.searchicon{
    color: #fff;
    padding-right: 17px;
    font-size: 22px;
    
}
.nav_menu  {
    float: right;
    padding-left: 550px;
   
}
@media screen and (max-width: 500px) {
    
    .Searchbar {
      padding-top: -20px; 
      width: 230px;
      position: absolute; 
      z-index: 2; 
      left: 67px;
      border-radius: 30px;     
    }
    
    .searchicon {
    padding-right: 20px;
    }
   
 .nav_menu{
    
    padding-right: 395px;
    margin-top: 10px;
    
    padding-left: 41px;


    }   
    .menu{
        padding-right: 930px;
    }      
  }
@media screen and (max-width: 430px) {
    
    .Searchbar {
      padding-top: -20px; 
      width: 230px;
      position: absolute; 
      z-index: 2; 
      left: 86px;
      border-radius: 30px;     
    }
    
    .searchicon {
    padding-right: 70px;
    padding-right: 5px;
 }
   
 .nav_menu{
    padding-right: 338px;
    padding-left: 201px;
    }   
    ul{
        
    padding-left: 165px;

    }
    .menu{
        padding-right: 30px;
    }
    
        
    

    }  
    
    @media screen and (max-width: 600px) {
    
        .Searchbar {
          padding-top: -20px; 
          width: 230px;
          position: absolute; 
          z-index: 2; 
          right: 216px;
          border-radius: 30px;     
        }
        
        .searchicon {
        padding-right: 70px;
        
        padding-right: 5px;
    
        }
       
     .nav_menu{
       
        margin-top: 10px;
        
    padding-right: 379px;
    
    padding-left: 338px;
}


    
           
        .menu{
            padding-right: 30px;
        }
          
        
          
          
      }
      
  
  @media screen and (max-width: 700px) {
    
    .Searchbar {
      padding-top: -20px; 
      width: 230px;
      position: absolute; 
      z-index: 2; 
      right: 216px;
      border-radius: 30px;     
    }
    
    .searchicon {
    padding-right: 70px;
    
    padding-right: 5px;

    }
   
 .nav_menu{
    padding-left: 363px;
    margin-top: 10px;

    }   
    .menu{
        padding-right: 30px;
    }
      
    
      
      
  }
  @media screen and (max-width: 900px) {
    
    .Searchbar {
      padding-top: -20px; 
      width: 230px;
      position: absolute; 
      z-index: 2; 
      right: 216px;
      border-radius: 30px;     
    }
    
    .searchicon {
    padding-right: 70px;
    
    padding-right: 5px;

    }
   
 .nav_menu{
    padding-left: 363px;
    margin-top: 10px;

    }   
    .menu{
        padding-right: 30px;
    }
      
    
      
      
  }
  @media screen and (max-width: 800px) {
    
    .Searchbar {
      padding-top: -20px; 
      width: 230px;
      position: absolute; 
      z-index: 2; 
      right: 216px;
      border-radius: 30px;     
    }
    
    .searchicon {
    padding-right: 70px;
    
    padding-right: 5px;

    }
   
 .nav_menu{
    padding-left: 363px;
    margin-top: 10px;

    }   
    .menu{
        padding-right: 30px;
    }
      
    
      
      
  }