.header{
    width: 100%;
    height: 100px;
    background:  rgb(29, 28, 33);
    display: flex;
  
  }
  .logo{
    color: #f4eeee;
    margin-top: -60px;
    padding-left: 20px;
   font-size: 10px;
  
  }
  .links{
    margin-top: -45px;
    
  }
  .links :hover{
    color: #c7c2c2;
   
    
  }
  .headericons :hover{
    color: #9a9797;
  
  }
  
  .links a{
    text-decoration: none;
    padding-left: 10px;
    float: right;
    font-size: 10px;
    z-index:  1000;
    display: inline;
  
    
  }
  
  
  .login_link{
  list-style: none;
  padding-right: 40px;
  color: #ffff;
  
  
  }
  
  .help_link{
    color: #ffff;
    
  }
  .hovermenu  {
    background-color: #fff;
    width: 120px;
    height: 150px;
  top: 27px;
    z-index: 1000;
    position: absolute;
    margin-left: -90px;
  display: none;
  }
  .hovermenu p{
    color: #050000;
   padding-left: 40px;
   
   
  
  
  }
  .hoverhelp_link{
    padding: 13px;
    font-weight: 500;
  }
  .help_link:hover .hovermenu{
    display: block;
  }
  .hovermenu  a{
  margin-right: 50px;
   color: #050000;
   width: 70px;
   padding: 3px;
   
  }
  .headericons {
    position: absolute;
    right: 3px; /* Or based on your layout needs */
    top: 0;
    height: 100px; 
    
    
  }
  
  .signup_link{
    color: #ffff;
    list-style: none;
  }
  .inputfield{
    float: right;
    width: 100px;
    height: 20px;
    border-radius: 20px;
    color: #050000;
    
  }
  .search_li{
  padding-top: 10px;
  
  }
  
  .headericons{
    color: #ffff;
    list-style: none;
    padding-right: 38px;
    
    margin-top: 49px;
  
   
  
    
  }
  li{
    display: inline;
    float: right;
   margin-left: 10px;
    padding-top: 11px;
  font-size: 10px;
    
    
  }
  .hearticon{
    font-size: 15px;
  }
  .carticon{
    padding-right: -30px;
    
    font-size: 15px;
  }
  
  .bars{
    width: 30px;
    height: 20px;
    color: #f4eeee;
    display: none;
    
    top: 37px;
   
  
    
  }
  .lists {
    position: absolute;
    
    top: 2px;
  
    right: 0;
    background-color: #fff;
    z-index: 1000;
    display: block;
    border: 1px solid #050000;
    border-radius: 4px;
  }
  .lists{
    width: 200px;
    height: 1300px;
    background-color: #110e0e;
    
  }
  
  .dropdownlist{
    width: fit-content;
    height: auto;
    
    
    position: right;
  }
  .lists li {
    display: block;           
    width: 100%;              
    padding: 9px 0px;       
    box-sizing: border-box;   
    margin-bottom: 5px;       
    color: #f1eded;          
    background: #110e0e;  
  
  }
  
  .lists a {
    font-size: 15px;
    display: block;           
    color: #e9e2e2;           
    text-decoration: none;    
    width: 100%;              
  }
  
  .lists a:hover {
    background-color: #c7c2c2;
    border-radius: 3px;
    width: 190px;
    padding: 0;
  
  }
    button{
    
    color: #020202fc;
    border: none;
    cursor: pointer;
  padding-right: 30px;
   font-size: 30px;
    background-color: none;
  
  }
  .btncontainer ul {
    padding-top: 90px;
   padding-left: 250px;
   
    list-style-type: none; /* Removes bullet points from the list */
    font-size: 15px;
   
    display: flex;
    margin-right: 25px;
  }
  
  
  
  .dropdwn:hover  .dropdownContent{
    display: block;
    text-decoration: none;
    padding: 10px 15px;
  
  }
  
  
  
    
    
  
    .dropdownContent a{
    display: none;
    color: #050000;
    text-decoration: none;
    padding: 10px 15px;
  }
  
  
  
  
  @media screen and (max-width:900px){
    .links{
      display: none;
    }
    .headericons{
      margin-top: 41px;
    }
    .bars {
      display: block;
      padding-top: -90px;
      position: absolute;
      
      top: 18px;
  
      right: 0;
    }
   
   .btncontainer{
    padding-top: 90px;
    padding-left: 50px;
   }
    
  }
  
  @media screen and (max-width:570px){
    .links{
      display: none;
    }
    .headericons{
      margin-top: 49px;
      display: inline;
    }
    .bars {
      display: block;
      padding-top: -90px;
      position: absolute;
      
      top: 18px;
  
      right: 0;
    }
   
   .btncontainer ul{
    padding-top: 50px;
    padding-left: 30px;
    font-size: 10px;
    
    
  
   }
    
  }
  
  @media screen and (max-width:880px){
    .links{
      display: none;
    }
    .headericons{
      margin-top: 49px;
    }
    .bars {
      display: block;
      padding-top: -90px;
      position: absolute;
      
      top: 18px;
  
      right: 0;
    }
   
   .btncontainer  ul{
  
    
    padding-left: 259px;
  
    padding-top: 34px;
  
    
    font-size: 15px;
    
    
  
   }
    
  }
  
  .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 140px;
    font-size: 20px;
    padding-left: 120px;
    font-weight: bold;
  }
  .paragraph{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
    
  }
  .datacollection{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 10px;
    padding: 10px;
    
  }
  input{
    width: 300px;
    height: 30px;
   
  }
  .email{
    display: flex;
    justify-content: center;
    align-items: center;
     
  height: 25px;
  font-size: 10px;
  }
  .btnsbmit{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    
  }
  button{
    font-size: 15px;
    background-color: #0e0d0d;
    color: #e9e2e2;
    border-radius: 3px;
    padding-left: 15px;
    
  }
  
  
  
  
  
  
  
    
  
  
  
  